* {
  background-color: rgb(49, 51, 51);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: white;
}
html{
  overflow-x: hidden;
}
.navlink {
  text-decoration: none;
  color: inherit;
}

/* the nav bar wrapper parent */
.navbar {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: bolder;
}

/* the nav bar children -   the greater than selects inside navbar and the star selects all  */
.navbar * {
  flex-grow: 0;
}


.navbar *:hover {
  transform: scale(1.1);
}

.fatmunch{
  display: flex;
}
/* the my fat munch logo */

.myfatmainlogo {
  margin-top: 20px;
  margin-left: 24px;
  width: 500px;  
}

/* the actual picture images!!! */
.my-fat-picture {
  width: 100%;
}

#click-to-add {
  margin-right: auto;
  padding-left: 50px;
}

/* counter that goes up with each recipe you add */

/* text which is in a flexbox */
#pages-counter {
  display: flex;
  font-size: 1.2em;
  color: white;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}

/* reset button for pages counter */

#reset-button {
  border: white solid 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  transition: 1s;
}

#reset-button:hover {
  transform: scale(1.1);
}

#number-box {
  margin-top: 0px;
  border: 0px;
  color: white;
  width: 1.7em;
  text-align: center;
  font-size: 2em;
}

#menu-button{
  margin-left: auto;
  display: none;
  font-size: 1.7em;
  border: solid white 2px;
  padding: 4px;
}

/*pic grid arrange*/

.pic-img-1 {
  grid-area: pic-img-1;
}
.pic-img-2 {
  grid-area: pic-img-2;
}
.pic-img-3 {
  grid-area: pic-img-3;
}
.pic-img-4 {
  grid-area: pic-img-4;
}
.pic-img-5 {
  grid-area: pic-img-5;
}
.pic-img-6 {
  grid-area: pic-img-6;
}
.pic-img-7 {
  grid-area: pic-img-7;
}
.pic-img-8 {
  grid-area: pic-img-8;
}
.pic-img-9 {
  grid-area: pic-img-9;
}
.pic-img-10 {
  grid-area: pic-img-10;
}
.pic-img-11 {
  grid-area: pic-img-11;
}
.pic-img-12 {
  grid-area: pic-img-12;
}
.pic-img-13 {
  grid-area: pic-img-13;
}
.pic-img-14 {
  grid-area: pic-img-14;
}
.pic-img-15 {
  grid-area: pic-img-15;
}
.pic-img-16 {
  grid-area: pic-img-16;
}
.pic-img-17 {
  grid-area: pic-img-17;
}
.pic-img-18 {
  grid-area: pic-img-18;
}

.pictures {
  position: relative;
  display: grid;
  margin: 1.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5em;
  grid-auto-flow: row;
  grid-template-areas:
    "pic-img-1 pic-img-3 pic-img-3 pic-img-3 pic-img-4 pic-img-4"
    "pic-img-2 pic-img-3 pic-img-3 pic-img-3 pic-img-4 pic-img-4"
    "pic-img-5 pic-img-3 pic-img-3 pic-img-3 pic-img-6 pic-img-6"
    "pic-img-7 pic-img-7 pic-img-8 pic-img-8 pic-img-6 pic-img-6"
    "pic-img-7 pic-img-7 pic-img-8 pic-img-8 pic-img-9 pic-img-9"
    "pic-img-10 pic-img-10 pic-img-10 pic-img-11 pic-img-9 pic-img-9"
    "pic-img-10 pic-img-10 pic-img-10 pic-img-12 pic-img-12 pic-img-12"
    "pic-img-10 pic-img-10 pic-img-10 pic-img-12 pic-img-12 pic-img-12"
    "pic-img-13 pic-img-14 pic-img-15 pic-img-12 pic-img-12 pic-img-12"
    "pic-img-16 pic-img-16 pic-img-16 pic-img-16 pic-img-17 pic-img-17"
    "pic-img-16 pic-img-16 pic-img-16 pic-img-16 pic-img-17 pic-img-17"
    "pic-img-16 pic-img-16 pic-img-16 pic-img-16 pic-img-18 pic-img-18"
    "pic-img-16 pic-img-16 pic-img-16 pic-img-16 pic-img-18 pic-img-18";
}

/* child elements of grid */

.pictures div {
  text-align: center;
  display: grid;
  position: relative;
}

.picture-link{
  text-decoration: none;
}

.picture-link:hover ~ .add-button {

  transform: scale(0.8);
  transition: transform 2s;

}

.pictures div img {
  border-radius: 5px;
  border: solid rgb(255, 255, 255) 5px;
  transition: filter linear 2s;
  transition: filter 3s;
  height: 100%;
  object-fit: cover;
}

.pictures div img:hover, .add-button:hover ~ .pictures div img {
  opacity: 50%;
  filter: blur(3px);
  transform: scale(1.02);
  transition: transform 2s;
}

/* text over images with the name of the dish written*/
.textboxcontainer {
  border-radius: 25%;
  display: grid;
  position: relative;
  color: rgb(255, 255, 255);
}

.text-over-images {
  color: white;
  font-size: 2em;
  padding: 5%;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* controlling how the text behaves when you hover on the pictures */

.picture-link:hover ~ .text-over-images,
.pictures div img:hover ~ .text-over-images,
.text-over-images:hover,
.add-button:hover > .picture-link {
  opacity: 90%;
  transition: opacity 2s;
}

/* button to add recipe to main cookbook list   
                                                  */

.add-button {
  height: 100px;
  width: 100px;
  transform: scale(0.7);
  font-weight: bolder;
  text-align: center;
  border: solid 2px black;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(202, 199, 199);
  color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  box-shadow: 0px 10px 13px -7px #000000, 12px 10px 10px 3px rgba(0,0,0,0.16);
  transition: transform 1s;
}


/* drawing the plus sign with two box elements */

#add-vertical {
  background-color: rgb(246,5,254);
  border-radius: 25px;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#add-horizontal {
  position: relative;
  background-color: rgb(246,5,254);
  border-radius: 25px;
  width: 50px;
  height: 10px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#add-vertical-background {
  background-color: rgb(20,205,8);
  border-radius: 25px;
  border-left: solid 2px black;
  width: 15px;
  height: 55px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#add-horizontal-background {
  position: relative;
  background-color: rgb(20,205,8);
  border-left: solid 2px black;
  border-radius: 25px;
  width: 55px;
  height: 15px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.add-button:hover, .pictures div img:hover ~ .add-button {
  transform: scale(0.8);
  background-color: rgb(255, 255, 255);
  border-color: blueviolet;
}













/* Media Queries */
/* Big monitor   DO NOT TOUCH!!! */

@media screen and (min-width: 1600px) {
}

/* first width where sizing down my monitor looks poor */
@media screen and (max-width: 1490px) {
  * {
    background-color: rgb(202, 184, 22);
  }

  .fatmunch{
    justify-content: center;
  }

  .myfatmainlogo {
    margin: auto;
    margin-top: 20px;
    width: 500px;
  }

  .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "pic-img-1 pic-img-2 pic-img-3"
      "pic-img-4 pic-img-5 pic-img-6"
      "pic-img-7 pic-img-8 pic-img-9"
      "pic-img-10 pic-img-11 pic-img-12"
      "pic-img-13 pic-img-14 pic-img-15"
      "pic-img-16 pic-img-17 pic-img-18";
  }


  .text-over-images {
    position:absolute;
    opacity: 1;
    color: white;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 5px;
    top: 70%;
    left: 50%;
    pointer-events: none;
  }

  .pictures div img:hover, .add-button:hover ~ .pictures div img {
    opacity: 70%;
    filter: none;
    transform: scale(1.02);
    transition: transform 0s;
  }
  
  .navbar {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1%;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bolder;
  }

}

/* landscape tablet - menu bar disappears and menu toggle becomes available */

@media screen and (max-width: 1200px) {
  * {
    background-color: rgb(22, 202, 103);
  }
  .myfatmainlogo {
    margin: auto;
    margin-top: 20px;
  }

  .text-over-images{
    font-size: 0.9em;
  }

  #click-to-add{
    display: none;
}

#pages-counter{
  padding-left: 100px;
  padding-top: 20px;
}

.navlink{
  font-size: 0.8em;
}
body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  position:absolute;
  clip: left;
}

.navbar {
  z-index: -1;
  transform: translateX(100%);
  transition:transform 0.5s ease-in;
  position:absolute;
  flex-direction: column;
  background-color:white;
  align-items: center;
  width: 50%;
  margin-right: 0;
  margin-top: 110px;
  right:0px;
  
}

.navbar-active{
  transform: translateX(0%);
}

.navbar h1 {
  background-color: white;
  opacity: 0;
}

.navlink:hover {
font-size: 0.9em;
}

.navlink {
  color: #000000;
  background-color: white;
  padding: auto;
}

#menu-button{
  display: flex;
  cursor: pointer;
}

@keyframes navH1Fade{
  from{
opacity: 0;
transform: translateX(50px);
  }to{
opacity: 1;
transform: translateX(0px);
  }
}

}


/* a portrait tablet */
@media screen and (max-width: 970px) {
  * {
    background-color: blue;
  }

  .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "pic-img-1 pic-img-2"
      "pic-img-3 pic-img-4"
      "pic-img-5 pic-img-6"
      "pic-img-7 pic-img-8"
      "pic-img-9 pic-img-10"
      "pic-img-11 pic-img-12"
      "pic-img-13 pic-img-14"
      "pic-img-15 pic-img-16"
      "pic-img-17 pic-img-18";
  }

 .myfatmainlogo{
   padding: 20px;
 }

.navbar{
  margin-top: 104px;
}

  .navbar{
    width: 55%;
  }
  
  #number-box{
    display: none;
  }
  
  #pages-word{
    display: none;
  }
  
  #reset-button{
    display: none;
  }
  
  #pages-counter p {
    display: none;
  }

}

/* a small device like a smartphone */
@media screen and (max-width: 500px) {
  * {
    background-color: rgb(208, 32, 214);
  }

  .pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "pic-img-1"
      "pic-img-2"
      "pic-img-3"
      "pic-img-4"
      "pic-img-5"
      "pic-img-6"
      "pic-img-7"
      "pic-img-8"
      "pic-img-9"
      "pic-img-10"
      "pic-img-11"
      "pic-img-12"
      "pic-img-13"
      "pic-img-14"
      "pic-img-15"
      "pic-img-16"
      "pic-img-17"
      "pic-img-18";
  }

}
